/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
}

.image-container {
  margin: 10px;
  cursor: pointer;
}

.thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
